articles/CLINICAL/**/results/**/*.csv filter=lfs diff=lfs merge=lfs -text
articles/CLINICAL/**/*.pdf filter=lfs diff=lfs merge=lfs -text
articles/CLINICAL/**/*.png filter=lfs diff=lfs merge=lfs -text
